<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body class="" data-spy="scroll" data-target=".navbar" data-offset="70">
    <div class="parallax-mirror">
      <img class="parallax-slider" src="images/slider1.jpg" style="transform: translate3d(0px, -494.6px, 0px); position: absolute; height: 794px; width: 1425px; max-width: none;">
    </div>

  <!-- <div id="royal_preloader"></div> -->
	<!-- Start Switcher / Remove for production -->
	<div class="demo_changer" style="display:none">
	    <div class="demo-icon">
	        <i class="pe-7s-settings"></i>
	    </div><!-- end opener icon -->
	    <div class="form_holder">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="predefined_styles">
	                	<h4>Base</h4>
	                    <a href="" data-rel="main-css" class="styleswitch2"><div class="btn dark-css-square"></div></a>
	                    <a href="" data-rel="base-light" class="styleswitch2"><div class="btn light-css-square"></div></a>
	                    <hr>
	                    <h4>Colors</h4>
	                    <a href="" data-rel="main-css" class="styleswitch"><div class="btn purple-css-square"></div></a>
	                    <a href="" data-rel="blue" class="styleswitch"><div class="btn blue-css-square"></div></a>
	                    <a href="" data-rel="green" class="styleswitch"><div class="btn green-css-square"></div></a>
	                    <a href="" data-rel="orange" class="styleswitch"><div class="btn orange-css-square"></div></a>
	                    <a href="" data-rel="red" class="styleswitch"><div class="btn red-css-square"></div></a>
	                    <a href="" data-rel="orangelight" class="styleswitch"><div class="btn orangelight-css-square"></div></a>
	                    <a href="" data-rel="seagul" class="styleswitch"><div class="btn seagul-css-square"></div></a>
	                    <a href="" data-rel="pinkish" class="styleswitch"><div class="btn pinkish-css-square"></div></a>
	                </div><!-- /.end predefined_styles -->
	            </div><!-- /.end col -->
	        </div><!-- /.end row -->
	    </div><!-- /.end form_holder -->
	</div><!-- /.end demo_changer -->
	<!-- End Switcher / Remove for production -->

	<!-- Begin Jumbotron -->
	<div class="jumbotron jumbotron-main" id="home">
		<div id="particles-js"><canvas class="particles-js-canvas-el" width="2850" height="768" style="width: 100%; height: 100%;"></canvas></div><!-- /.particles div -->
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
					<h1 class="scaleReveal" data-sr-id="46">
						<strong>Code Adapt</strong> Digital Marketing &amp; SEO Company.
					</h1>
					<hr class="bottomReveal" data-sr-id="1">
					<p class="bottomReveal" data-sr-id="2">Optimized websites &amp; modern design <i>+</i>&nbsp; code.</p>
					<a href="#ideology" data-id="ideology" class="scroll-link">
						<div class="scroll-indicator rotateBottomReveal" data-sr-id="40">
							<span class="ion-mouse"></span><br>
							<span class="ion-android-arrow-down arrow-scroll-indicator"></span>
						</div>
					</a>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</div>
	<!-- End Jumbotron -->

	<!-- Begin Intro -->
	<section id="ideology">

		<!-- Begin Hello Intro -->
		<div id="hello-intro" class="pt60 pb60">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 mt30-xs">
						<h3 class="no-margin rightReveal" data-sr-id="22">CodeAdapt is a customer-focused, IT company that is committed to finding solutions to the issues of globally connected people and devices. Our unrivaled techniques and an ingrained
vision enable us to develop and execute the best solutions for our clientele. We deliver exceptional business value to our client&#39;s business through the amalgamation of excellence, quality work and innovation.</h3>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Hello Intro -->

		<!-- Begin Our Process Title -->
		<div id="our-process-title" class="pt30 pb30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h4 class="no-margin">Our Ideology</h4>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Our Process Title -->

		<!-- Begin Our Process -->
		<div id="our-process">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
						<div class="leftReveal" data-sr-id="12">
							<div class="process-intro">
								<h3 class="process-number">01</h3>
								<div><span class="process-icons pe-7s-users rotateBottomReveal" data-sr-id="41"></span></div>
								<h2>Effective<br>Communication</h2>
							</div>
							<div class="process-content">
								<div><span class="process-icons pe-7s-users"></span></div>
								<h2 class="mt15 mb20">Effective<br>Communication</h2>
								<p class="no-margin">Effective communication to better undestand the customers.</p>
							</div>
						</div><!-- /.animation -->
					</div><!-- /.column -->
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
						<div class="bottomReveal" data-sr-id="3">
							<div class="process-intro">
								<h3 class="process-number">02</h3>
								<div><span class="process-icons pe-7s-diamond rotateBottomReveal" data-sr-id="42"></span></div>
								<h2>Quality<br>Design Work</h2>
							</div>
							<div class="process-content">
								<div><span class="process-icons pe-7s-diamond"></span></div>
								<h2 class="mt15 mb20">Quality<br>Design Work</h2>
								<p class="no-margin">Quality designs are end results. Team of exceptional designers!</p>
							</div>
						</div><!-- /.animation -->
					</div><!-- /.column -->
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
						<div class="rightReveal" data-sr-id="23">
							<div class="process-intro">
								<h3 class="process-number">03</h3>
								<div><span class="process-icons pe-7s-rocket rotateBottomReveal" data-sr-id="43"></span></div>
								<h2>SEO &amp;<br>Digital Marketing</h2>
							</div>
							<div class="process-content">
								<div><span class="process-icons pe-7s-rocket"></span></div>
								<h2 class="mt15 mb20">SEO &amp;<br>Digital Marketing</h2>
								<p class="no-margin">SEO and Digital Marketing are our core strengths.</p>
							</div>
						</div><!-- /.animation -->
					</div><!-- /.column -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Our Process -->

		<!-- Begin Quote Carousel -->
		<div id="carousel" class="testimonial-carousel pt40 pb20">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<span class="pe-7s-close heading-3-icon"></span>
		                <h2 class="heading-3">Testimonials</h2>
						<div class="fade-quote-carousel carousel slide" id="quote-carousel" data-ride="carousel" data-interval="3000">
							<!-- Carousel indicators -->
							<ol class="carousel-indicators">
								<li data-target="#quote-carousel" data-slide-to="0" class=""></li>
								<li data-target="#quote-carousel" data-slide-to="1" class=""></li>
								<li data-target="#quote-carousel" data-slide-to="2" class="active"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="item">
									<blockquote>
										<p>"The website they created for us was beautifully laid out. The design was simple but very
impactful. Even the navigation was very user-friendly. They have now become our outsourcing
web designing partner. Thanks!!"</p>
									</blockquote>
								</div>
								<div class="item">
									<blockquote>
										<p>"Their team is simply perfect. When we met with them for the first time to discuss the project, we
were immediately impressed - they were so easy to communicate with. They listened and spent
adequate time understanding our needs to make sure the site layout was appropriate."</p>
									</blockquote>
								</div>
								<div class="item active">
									<blockquote>
										<p>"We have been using CodeApt services for close to an year now. And we feel happy to say that we
have seen quantifiable improvement in terms of site traffic, and keyword rankings."</p>
									</blockquote>
								</div>
							</div>

						</div><!-- /.carousel -->
					</div><!-- /.column -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.carousel -->
		<!-- End Quote Carousel -->

	</section><!-- /.section -->
	<!-- End Intro -->

	<!-- Begin Services -->
	<section id="services" class="background2 section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Services</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->

		<div class="row">
        <% include partials/content/servicesList.ejs %>
    </div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Services -->

	<!-- Begin About -->
	<section id="about" class="background1 section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>About</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb15">
				<div class="col-sm-5 leftReveal" data-sr-id="15" >
					<h5 class="heading-1 mb20">Our Trade</h5>
					<h3 class="mb15 no-margin-top">Designing, Developing, and <br>Innovating for people like you...</h3>
				</div><!-- /.column -->
				<div class="col-sm-7 mt30-xs rightReveal" data-sr-id="26" >
					<h5 class="heading-1 mb20">How we started it</h5>
					<span class="icon-handle-streamline-vector logo-about"></span>
					<p>Like many of our customers, we began as a start-up business. Our founder Sakshi Sagoria and Gaurav Yakhmi initially wanted to serve Seattle bases customers for their digital marketing needs.</p>
					<p>We understood our customers’ needs and the challenges they faced and successfully helped them over a period of time.</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb30">
				<div class="col-sm-9 leftReveal" data-sr-id="16">
					<h5 class="heading-1 mb20">Why?</h5>
					<div class="no-margin">
            <strong class="heading-3 mb15">We Are Creative</strong>
              <p>We unite ideas with inventiveness, craft, and acuity. We believe the world is even more
              impressive and beautiful when creative.</p>
              <strong class="heading-3 mb15">We Value Time</strong>
              <p>We practice what we preach. We are gratified that we invest our time and efforts in delivering
              the best service possible do it swiftly.</p>
              <strong class="heading-3 mb15">We Have the X-Factor</strong>
              <p>The work we do helps our clients stand out in every honor. We ensure that the solutions we
              develop have the subsequent features including simplicity, Feasibility, and result-driven.</p>
              <strong class="heading-3 mb15">We Are Friendly</strong>
              <p>We use cutting-edge technologies, which puts us at a benefit over our competitors. With better
              efficiency and exactitude, we can work optimally to deliver results that bring difference.</p>
              <strong class="heading-3 mb15">We Respect Our Clients</strong>
              <p>We mean it when we say that we worship our clients. Their voice, needs and satisfaction is what
              counts for us the most. Hence, their interest is considered at each and every stage of our work
              flow.</p>
              <strong class="heading-3 mb15">We Practice Minimalism</strong>
              <p>Our team is exceptionally talented in what we do. The websites we develop are clean,
              contemporary, SEO-optimized and minimalist.</p>
            </div>
				</div><!-- /.column -->
				<div class="col-sm-3 mt30-xs rightReveal" data-sr-id="27">
					<h5 class="heading-1 mb20">Quote</h5>
					<p class="no-margin text-small"><i>"The company who delivers..."</i></p>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-lg-7 col-sm-5 bottomReveal" data-sr-id="5">
					<h5 class="heading-1 mb20">Skills</h5>
					<div class="progress">
						<div class="progress-bar text-left" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
							Development
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar text-left" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%;">
							Design
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar text-left" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
							Digital Marketing
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar text-left" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
							SEO optimization
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar text-left" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
							Support
						</div>
					</div>
					<div class="progress-meter mb30-xs">
						<div class="meter meter-left" style="width: 30%;"><span class="meter-text">Beginner</span></div>
						<div class="meter meter-left" style="width: 20%;"><span class="meter-text">Intermediate</span></div>
		    			<div class="meter meter-right" style="width: 20%;"><span class="meter-text">Pro</span></div>
						<div class="meter meter-right" style="width: 30%;"><span class="meter-text">Master</span></div>
					</div>
				</div><!-- /.column -->
				<div class="col-lg-5 col-sm-7 mt10 rotateLeftReveal" data-sr-id="45">
					<div id="about-carousel" class="basic-carousel carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#about-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#about-carousel" data-slide-to="1" class=""></li>
							<li data-target="#about-carousel" data-slide-to="2" class=""></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="images/placeholder.png" alt="..." class="img-responsive">
							</div>
							<div class="item">
								<img src="images/placeholder2.png" alt="..." class="img-responsive">
							</div>
							<div class="item">
								<img src="images/placeholder3.png" alt="..." class="img-responsive">
							</div>
						</div>
					</div>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End About -->

	<!-- Begin Our Count -->
	<section id="ourcount" class="section-padding parallax-window our-count" data-parallax="scroll" data-image-src="images/slider1.jpg">
		<div class="container">
			<div class="row mb30">
				<div class="section-title col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
					<h2>The Count</h2>
					<span class="section-divider mb15"></span>
					<p class="no-margin">We have spent various amounts of time on activities. Oh and we like coffee and free time as well.</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-sm-6 col-md-3 item leftReveal" data-sr-id="17" >
					<div class="circle-hold">
                        <i class="ion-coffee"></i>
                    </div>
                    <h2 class="timer mb5" data-from="1" data-to="4321" data-refresh-interval="20">1</h2>
                    <p class="no-margin">Cups of coffee</p>
				</div><!-- /.column -->
				<div class="col-sm-6 col-md-3 item mt30-xs rightReveal" data-sr-id="28">
					<div class="circle-hold">
                        <i class="ion-code"></i>
                    </div>
                    <h2 class="timer mb5" data-from="1" data-to="15381" data-refresh-interval="20">1</h2>
                    <p class="no-margin">Lines of code</p>
				</div><!-- /.column -->
				<div class="col-sm-6 col-md-3 item mt30-xs mt30-sm leftReveal" data-sr-id="18" >
					<div class="circle-hold">
                        <i class="ion-android-people"></i>
                    </div>
                    <h2 class="timer mb5" data-from="1" data-to="17" data-refresh-interval="20">1</h2>
                    <p class="no-margin">Employees</p>
				</div><!-- /.column -->
				<div class="col-sm-6 col-md-3 item mt30-xs mt30-sm rightReveal" data-sr-id="29">
					<div class="circle-hold">
                        <i class="ion-android-restaurant"></i>
                    </div>
                    <h2 class="timer mb5" data-from="1" data-to="921" data-refresh-interval="20">1</h2>
                    <p class="no-margin">Enquiries processed</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Our Count -->

	<!-- Start Profile -->
	<section id="profile" class="background2 section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Profile</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-sm-4">
					<img alt="CEO" src="" class="img-responsive">
					<div class="profile-box">
						<ul class="list-unstyled">
							<li><strong>Name:</strong> Sakshi Sagoria</li>
							<li><strong>Position:</strong> Chief Executive Officer</li>
							<li><strong>Phone:</strong> (000) 425 495 9666</li>
							<li><strong>Email:</strong> info@codeadapt.com</li>
						</ul>
					</div>
				</div><!-- column -->
				<div class="col-sm-8 mt30-xs">
					<h5 class="heading-1 mb20">Intro</h5>
					<h3 class="mb15 no-margin-top">I, Sakshi Sagoria CEO of CodeAdapt LLC.</h3>
					<span class="divider"></span>
					<h5 class="heading-1 mt20 mb20">Skills</h5>
					<div class="progress">
						<div class="progress-bar text-left" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							Development
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar text-left" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
							Design
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar text-left" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
							Icon Design
						</div>
					</div>
					<div class="progress-meter">
						<div class="meter meter-left" style="width: 30%;"><span class="meter-text">Beginner</span></div>
						<div class="meter meter-left" style="width: 20%;"><span class="meter-text">Intermediate</span></div>
		    			<div class="meter meter-right" style="width: 20%;"><span class="meter-text">Professional</span></div>
						<div class="meter meter-right" style="width: 30%;"><span class="meter-text">Master</span></div>
					</div>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	<!-- End Profile -->

	<!-- Begin Work -->
	<section id="work" class="background1 section-padding-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Work</h2>
					<span class="section-divider mb15"></span>
					<p class="mb30 scaleReveal" data-sr-id="47" >We do awesome stuff, and yeah.</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-xs-12 text-center mb50">
					<!-- Filter Buttons -->
					<button class="filter btn btn-default btn-category btn-lg active" data-filter="all">All</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".seo">SEO Optimization</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".markeeting">Marketing</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".development">Development</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".web">Web</button>

					<!-- Sort Buttons -->
					<button class="sort btn btn-default btn-sort btn-lg" data-sort="my-order:asc"><span class="ion-ios-plus-empty"></span></button>
					<button class="sort btn btn-default btn-sort btn-lg" data-sort="my-order:desc"><span class="ion-ios-minus-empty"></span></button>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div id="thework">
				<!-- Item 1 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics" data-my-order="3" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/1.jpg" alt="1" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Graphics</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/1.jpg" class="zoom" title="Equipt Design">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Equipt Design</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 2 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity" data-my-order="6" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/2.jpg" alt="2" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Print + Identity</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/2.jpg" class="zoom" title="Goodman's Burger">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Goodman's Burger</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 3 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix identity" data-my-order="4" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/3.jpg" alt="3" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Print</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/3.jpg" class="zoom" title="Paper Mockup">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Paper Mockup</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 4 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics" data-my-order="5" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/4.jpg" alt="4" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Graphics</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/4.jpg" class="zoom" title="Simple Pleasure">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Simple Pleasure</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 5 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity" data-my-order="2" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/5.jpg" alt="5" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Print + Identity</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/5.jpg" class="zoom" title="Wine Bottles">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Wine Bottles</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 6 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix web" data-my-order="1" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/6.jpg" alt="6" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Web</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/6.jpg" class="zoom" title="Web UI">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Web UI</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 7 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics print" data-my-order="9" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/7.jpg" alt="7" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Graphics + Print</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/7.jpg" class="zoom" title="Hello World">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Hello World</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 8 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix web" data-my-order="7" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/8.jpg" alt="8" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Web</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/8.jpg" class="zoom" title="We Create Mobile">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">We Create Mobile</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 9 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix web" data-my-order="8" style="display: inline-block;" data-bound="">
			    	<div class="portfolio-image-holder"><img src="images/work/9.jpg" alt="9" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Web</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="images/work/9.jpg" class="zoom" title="Captain da Ship">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Captain da Ship</span>
						</span>
					</span>
			    </div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- Begin Work -->

	<!-- Begin Timeline -->
	<section id="timeline" class="background1 section-padding-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Timeline</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline pb80">

						<!-- Item 1 -->
						<li>
							<div class="timeline-image scaleReveal" data-sr-id="48">
                <img alt="" class="img-circle img-responsive" src="images/timeline-1.jpg">
              </div>
							<div class="timeline-panel leftReveal" data-sr-id="19">
								<div class="timeline-heading">
									<h5 class="heading-1 mb15">MARCH 2018</h5>
									<h4 class="subheading">We Began Our Venture</h4>
								</div>
								<div class="timeline-body">
									<p>We started CodeAdapt LLC at our head quarter located at Kirkland, WA, USA!</p>
								</div>
							</div>
						</li>

						<!-- Item 2 -->
						<li class="timeline-inverted">
							<div class="timeline-image scaleReveal" data-sr-id="49">
                <img alt="" class="img-circle img-responsive" src="images/timeline-2.jpg" />
              </div>
							<div class="timeline-panel rightReveal" data-sr-id="30">
								<div class="timeline-heading">
									<h5 class="heading-1 mb15">June 2016</h5>
									<h4 class="subheading">A Company is in Mind</h4>
								</div>
								<div class="timeline-body">
									<p>We went live on June with our another office in Mohali, India</p>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Timeline -->

	<!-- Begin Team -->
	<section id="team" class="background2 section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Team</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb40">
          <!-- Render the TeamList.ejs component -->
          <% include partials/content/TeamList.ejs %>
      </div><!-- /.row -->


      <div class="row">
				<div class="col-sm-4 leftReveal" data-sr-id="21">
					<h5 class="heading-1 mb20">Our Goal</h5>
					<h3 class="no-margin-top mb15">Technology that makes the world of work, work better for people &amp; we run on technology</h3>
					<p class="no-margin text-small">We listen. We learn. We are transforming the way work gets done. Our goal is to empower every organization to achieve more.</p>
				</div><!-- /.column -->
				<div class="col-sm-8 mt20-xs rightReveal" data-sr-id="32">
					<h5 class="heading-1 mb20">Who are we?</h5>
					<p>The Company’s main activities are the design, development, SEO, Digital and Email Marketing. </p>
					<p class="no-margin">We employ more than 200 people in United States of America and India. </p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Team -->

	<!-- Begin Pricing -->
	<section class="background1 section-padding">
		<div class="container">
			<div class="row mb30">
				<div class="col-lg-6 col-lg-offset-3 section-title text-center">
					<h2>Pricing</h2>
					<span class="section-divider mb15"></span>
					<p class="no-margin">We offer extremely competitive prices for all products.</p>
				</div><!-- /.column -->
			</div><!-- /.row -->

      <!-- Clients Information -->
    	<!-- <div class="row mb50">
				<div class="col-lg-8 col-lg-offset-2 text-center">
		      <h2 class="heading-3 mt10 scaleReveal" data-sr-id="52">Some of Our Clients</h2>
					<img src="images/logos/coca.png" alt="Client 1" class="img-responsive pricing-clients mr15 topReveal" data-sr-id="36">
					<img src="images/logos/ebay.png" alt="Client 2" class="img-responsive pricing-clients mr15 bottomReveal" data-sr-id="8">
					<img src="images/logos/microsoft.png" alt="Client 3" class="img-responsive pricing-clients mr15 topReveal" data-sr-id="37">
					<img src="images/logos/pepsi.png" alt="Client 4" class="img-responsive pricing-clients bottomReveal" data-sr-id="9" >
				</div>
			</div> -->

      <div class="row">
        <% include partials/content/costList.ejs %>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Pricing -->

	<!-- Begin Contact -->
	<section id="contact" class="background2 section-padding">
		<div class="container">
			<div class="row mb30">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
					<h2>Contact</h2>
					<span class="section-divider mb15"></span>
					<p class="no-margin scaleReveal" data-sr-id="53" >Our team is established in US and India and we know how to deliver quality experience from miles away.</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-sm-5 col-lg-4">
					<h5 class="heading-1 mb20">Visit Us</h5>
					<h4 class="mb15">1281 NE 84th Street<br>Kirkland, WA 98033</h4>
					<hr class="mini-hr">
					<p class="text-xs-small mb5"><strong class="text-switch">Email:</strong> info@codeadapt.com</p>
					<p class="text-xs-small mb5"><strong class="text-switch">Phone:</strong> +1 425-770-9638</p>
				</div><!-- /.column -->
				<div class="col-sm-6 col-lg-7 mt30-xs">
					<form data-toggle="validator" method="post" action="/sendEmail" role="form" novalidate="true">

            <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="controls">
										<input class="form-control" data-error="This section is required." name="subject" placeholder="Subject *" required="" type="text">
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div><!-- /.column -->
							<div class="col-sm-6">
								<div class="form-group">
									<div class="controls">
										<input class="form-control" name="phone" placeholder="Phone" type="text">
									</div>
								</div>
							</div><!-- /.column -->
						</div><!-- /.row -->
						<div class="row mb10">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="controls">
										<input class="form-control" data-error="This section is required." name="name" placeholder="Your Name *" required="" type="text">
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div><!-- /.column -->
							<div class="col-sm-6">
								<div class="form-group">
									<div class="controls">
										<input class="email form-control" data-error="This section is required." name="email" placeholder="Email *" required="" type="email">
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div><!-- /.column -->
						</div><!-- /.row -->
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="controls">
										<textarea class="form-control" data-error="This section is required." name="message" placeholder="Message *" required="" rows="5"></textarea>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt15">
							<div class="col-sm-6">
								<div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
							</div><!-- /.column -->
							<div class="col-sm-6 text-right">
								<button type="submit" id="submit" class="btn btn-default btn-lg disabled" style="pointer-events: all; cursor: pointer;">Send</button>
							</div><!-- /.column -->
						</div><!-- /.row -->
					</form><!-- /.form -->
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Contact -->

  <% include partials/template/footer.ejs %>

	<!-- Javascript Files -->

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/particles.min.js"></script>
	<script type="text/javascript" src="js/particlesRun.js"></script>
	<script type="text/javascript" src="js/jquery.mixitup.js"></script>
	<script type="text/javascript" src="js/form-validator.min.js"></script>
	<script type="text/javascript" src="js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript">
		/* ---- Counter (our count) ---- */
		$('#ourcount').one('inview', function(event, isInView) {
			if (isInView) {
				$('.timer').countTo({speed: 3000});
			}
		});
	</script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/scrollreveal.min.js"></script>
	<script type="text/javascript" src="js/style-switcher.js"></script><!-- Remove for production -->
	<script type="text/javascript" src="js/main.js"></script>


</body>
</html>
