<!-- Begin Footer -->
<footer class="footer-padding">

                <div class="overlayer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-offset-2 text-small text-center">
                                    <br>
                                    <h3 class="txt-white">Thank you for sharing!</h3>
                                    <p class="txt-gray">Do you love CodeAdapt? We would be glad if you will spread the world.
            <br>Don't forget, you're awesome.</p>
            <br><br>
                                    <a class="btn btn-round btn-fill btn-social btn-twitter" target="_blank" href="https://twitter.com/share?source=tweetbutton&amp;text='CodeAdapt - Seattle's Best SEO &amp; Digital Marketing Company'&amp;url=https://codeadapt.com"><div class="count" href="#">
                                        <i class="fa fa-twitter fa-fw"></i>
                                         Tweet
                                         </div>
                                         <div class="share"><span></span></div>
                                     </a>
                                    <a class="btn btn-round btn-fill btn-social btn-google" target="_blank" href="https://plus.google.com/share?url=https://codeadapt.com">
                                        <div class="count">
                                            <i class="fa fa-google-plus-square fa-fw"></i>
                                            Share
                                         </div>
                                         <div class="share"><span></span> </div>
                                    </a>
                                   <a class="btn btn-round btn-fill btn-social btn-facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://codeadapt.com">
                                        <div class="count">
                                            <i class="fa fa-facebook-square fa-fw"></i> Share
                                        </div>
                                        <div class="share"><span></span></div>
                                    </a>
                                </div>
                            <div class="col-sm-1"></div>

                        </div>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2 text-small text-center">
                            <hr>
                            <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
                            <p class="no-margin">© CodeAdapt LLC 2018</p>
                          </div><!-- /.column -->
                        </div><!-- /.row -->
                    </div>
                </div>
            </footer>
