<title><%= siteTitle %>--<%= pageTitle %></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

<link rel='stylesheet' type="text/css" href='/css/royal_preloader.css?v=0.0.1' />
<link rel='stylesheet' type="text/css" href='/css/ionicons.min.css' />
<link rel='stylesheet' type="text/css" href='/css/pe-icon-7-stroke.css' />
<link rel='stylesheet' type="text/css" href='/css/magnific-popup.css' />
<link rel='stylesheet' type="text/css" href='/css/logoiconfont.css' />
<link rel='stylesheet' type="text/css" href='/css/style.css?v=0.0.1' />

<!-- Style Switcher / remove for production -->
<link rel='stylesheet' type="text/css" href='/css/style-switcher.css?v=0.0.1' />
<link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:700,400,300,100|Montserrat:400,700' />

<!-- <link rel='stylesheet' type="text/css" href='/css/colors/base-light.css' /> -->
<link rel='stylesheet' type="text/css" href='/css/colors/blue.css' />
<!-- <link rel='stylesheet' type="text/css" href='/css/colors/green.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/orange.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/orangelight.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/pinkish.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/red.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/seagul.css' /> -->

<link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' />


<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
<!-- Begin Header -->
<header>
  <!-- Begin Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll-link" href="#home" data-id="home">
            <span class="icon-handle-streamline-vector logo"></span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#home" data-id="home" class="scroll-link">Home</a></li>
            <li class=""><a href="#ideology" data-id="ideology" class="scroll-link">Ideology</a></li>
            <li class=""><a href="#services" data-id="services" class="scroll-link">Services</a></li>
            <li><a href="#about" data-id="about" class="scroll-link">About</a></li>
            <li><a href="#work" data-id="work" class="scroll-link">Work</a></li>
            <li><a href="#team" data-id="team" class="scroll-link">Team</a></li>
            <li><a href="contact" data-id="contact" class="scroll-link">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="components">Components</a></li>
                <li><a href="pricing-options.html">Pricing Options</a></li>
                <li><a href="team-options.html">Team Options</a></li>
                <li><a href="../index.html">Demos</a></li>
                <li><a href="https://wrapbootstrap.com/theme/particles-personal-agency-template-WB05N7852" target="_blank">Purchase</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <!-- End Navigation -->
</header>
<!-- End Header -->
