<title><%= siteTitle %>--<%= pageTitle %></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

<link rel='stylesheet' type="text/css" href='/css/royal_preloader.css?v=0.0.1' />
<link rel='stylesheet' type="text/css" href='/css/ionicons.min.css?v=0.0.1' />
<link rel='stylesheet' type="text/css" href='/css/pe-icon-7-stroke.css?v=0.0.1' />
<link rel='stylesheet' type="text/css" href='/css/magnific-popup.css?v=0.0.1' />
<link rel='stylesheet' type="text/css" href='/css/logoiconfont.css?v=0.0.1' />
<link rel='stylesheet' type="text/css" href='/css/style.css?v=0.0.1' />

<!-- Style Switcher / remove for production -->
<link rel='stylesheet' type="text/css" href='/css/style-switcher.css?v=0.0.1' />
<link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:700,400,300,100|Montserrat:400,700' />

<link rel='stylesheet' type="text/css" href='/css/colors/base-light.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/blue.css?v=0.0.1' />
 <!-- <link rel='stylesheet' type="text/css" href='/css/colors/green.css' /> -->
<!-- <link rel='stylesheet' type="text/css" href='/css/colors/orange.css' /> -->
<!-- <link rel='stylesheet' type="text/css" href='/css/colors/orangelight.css' /> -->
<!-- <link rel='stylesheet' type="text/css" href='/css/colors/pinkish.css' /> -->
<!-- <link rel='stylesheet' type="text/css" href='/css/colors/red.css' /> -->
<!-- <link rel='stylesheet' type="text/css" href='/css/colors/seagul.css' /> -->

<link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' />
<link rel="shortcut icon" href="/images/logos/favicon.png" type="image/x-icon">

<meta name="description" content="Behind a successful brand, there is an even greater
marketing team. Code Adapt is the digitial marketing agency in Seattle that you need today.
We are the digital marketing and SEO Specialists to fix your brand identity and boost sales.
Contact us here to know us more today." />
<meta name="keywords" content="Digital Marketing Agency Seattle, Seo Company Seattle,
Seattle Seo Services, Digital Marketing Services Washington, Seattle Digital Marketing
Specialist." />;
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="CodeAdapt, Code Adapt: Best SEO, Web Development Company Seattle, US | Best SEO, Web Design Company India | Best Web Development Company India | SEO Digital marketting company Redmond, Kirkland, Seattle " />
<meta property="og:description" content="CodeAdapt is the best SEO, web design and development company in India. We specialize in offering web design, web development &amp; SEO services. Contact us today. Do you need search engine optimization and marketing? We have a combined 40 years of search engine optimization experience in Seattle and around the world. Don&#039;t leave your business to chance, choose the Seattle SEO team trusted by hundreds of businesses, Seattle&#039;s own Over The Top SEO!" />
<meta property="og:url" content="http://www.codeadapt.com/" />
<meta property="og:site_name" content="Codeadapt, Code Adapt: Search Engine optimization, Best Web Design Company USA | Top Digital Marketing Agency India" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="CodeAdapt, CodeAdapt: is the best web design and development company in Seattle, USA. We specialize in offering web design, web development &amp; SEO services. Contact us today." />
<meta name="twitter:title" content="Best Web Design Company Seattle, USA | Best Web Development Company India" />
<meta name="twitter:site" content="@codeadapt1" />
<meta name="twitter:creator" content="@codeadapt1" />
<meta name="geo.region" content="us-wa">

<!-- Bing -->
<meta name="msvalidate.01" content="27D7EEDCF5DAB7F4AC2D45E6F33ABF33" />

<!-- Pinterest -->
<meta name="p:domain_verify" content="a7b7ecab520b43f319d6098c94057993"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
<!-- Begin Header -->
<header>
  <!-- Begin Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">

        <div class="top-social-header">
          <div class="top-row d-none d-lg-block">
            <div class="top-row-alignright">
              <div class="fusion-contact-info">Call Us Today! (425) 770-9638
                  <span class="fusion-header-separator">|</span>
                <a href="mailto:info@codeadapt.com">info@codeadapt.com</a>
              </div>
            </div>
            <div class="top-row-alignright">
              <div class="fusion-social-links-header">
                <div class="fusion-social-networks">
                  <div class="fusion-social-networks-wrapper">
                    <a class="btn btn-round btn-fill btn-social btn-twitter" target="_blank" href="https://twitter.com/share?source=tweetbutton&amp;text='CodeAdapt - Seattle's Best SEO &amp; Digital Marketing Company'&amp;url=https://codeadapt.com"><div class="count" href="#">
                        <i class="fa fa-twitter fa-fw"></i>
                         Tweet
                         </div>
                         <div class="share"><span></span></div>
                     </a>
                    <a class="btn btn-round btn-fill btn-social btn-google" target="_blank" href="https://plus.google.com/share?url=https://codeadapt.com">
                        <div class="count">
                            <i class="fa fa-google-plus-square fa-fw"></i>
                            Share
                         </div>
                         <div class="share"><span></span> </div>
                    </a>
                   <a class="btn btn-round btn-fill btn-social btn-facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://codeadapt.com">
                        <div class="count">
                            <i class="fa fa-facebook-square fa-fw"></i> Share
                        </div>
                        <div class="share"><span></span></div>
                    </a>
                    <!--
                    <a class="fusion-social-network-icon fusion-tooltip fusion-googleplus fusion-icon-googleplus" style="color:#dc4e41;" href="https://plus.google.com/+VertiGroupInternationalIssaquah" target="_blank" data-placement="bottom" data-title="" data-toggle="tooltip" title="" data-original-title="Google+">
                      <span class="screen-reader-text">Google+</span></a>
                    <a class="fusion-social-network-icon fusion-tooltip fusion-linkedin fusion-icon-linkedin" style="color:#0077b5;" href="https://www.linkedin.com/company/verti-group-international" target="_blank" data-placement="bottom" data-title="" data-toggle="tooltip" title="" data-original-title="Linkedin">
                      <span class="screen-reader-text">Linkedin</span></a>
                    <a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="color:#3b5998;" href="https://www.facebook.com/VGISEO" target="_blank" data-placement="bottom" data-title="" data-toggle="tooltip" title="" data-original-title="Facebook">
                      <span class="screen-reader-text">Facebook</span></a>
                    <a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="color:#55acee;" href="https://twitter.com/vertigroupseo" target="_blank" data-placement="bottom" data-title="Twitter" data-toggle="tooltip" title="" data-original-title="Twitter">
                      <span class="screen-reader-text">Twitter</span></a>
                    <a class="fusion-social-network-icon fusion-tooltip fusion-pinterest fusion-icon-pinterest" style="color:#bd081c;" href="https://www.pinterest.com/vgiseo/" target="_blank" data-placement="bottom" data-title="" data-toggle="tooltip" title="" data-original-title="Pinterest">
                      <span class="screen-reader-text">Pinterest</span></a>
                    <a class="fusion-social-network-icon fusion-tooltip fusion-rss fusion-icon-rss fusion-last-social-icon" style="color:#f26522;" href="https://seoseattlegroup.com/blog/feed/" target="_blank" data-placement="bottom" data-title="" data-toggle="tooltip" title="" data-original-title="Rss">
                      <span class="screen-reader-text">Rss</span></a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll-link" href="#home" data-id="home" style="padding-top: 0px;">
              <img src="images/logos/main-logo.png" alt="logo" class="img-responsive icon-handle-streamline-vector logo-about" style="height:60px; width:140px;">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#home" data-id="home" class="scroll-link">Home</a></li>
            <li class=""><a href="#ideology" data-id="ideology" class="scroll-link">Ideology</a></li>
            <li class=""><a href="#services" data-id="services" class="scroll-link">Services</a></li>
            <li><a href="#about" data-id="about" class="scroll-link">About</a></li>
            <li><a href="#work" data-id="work" class="scroll-link">Work</a></li>
            <li><a href="#team" data-id="team" class="scroll-link">Team</a></li>
            <li><a href="contact" data-id="contact" class="scroll-link">Contact</a></li>
            <li>
              <div class="free-quotes">
                  <a id="free-quotes-text" href="/quote.html" class="btn express-lane-open topnav">
                      Free Quote
                  </a>
              </div>
            </li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="components">Components</a></li>
                <li><a href="pricing-options.html">Pricing Options</a></li>
                <li><a href="team-options.html">Team Options</a></li>
                <li><a href="../index.html">Demos</a></li>
                <li><a href="https://wrapbootstrap.com/theme/particles-personal-agency-template-WB05N7852" target="_blank">Purchase</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <!-- End Navigation -->
</header>
<!-- End Header -->
