<title><%= siteTitle %>--<%= pageTitle %></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel='stylesheet' type="text/css" href='/css/style.css' />
<link rel='stylesheet' type="text/css" href='/css/royal_preloader.css' />
<link rel='stylesheet' type="text/css" href='/css/ionicons.min.css' />
<link rel='stylesheet' type="text/css" href='/css/pe-icon-7-stroke.css' />
<link rel='stylesheet' type="text/css" href='/css/magnific-popup.css' />
<link rel='stylesheet' type="text/css" href='/css/logoiconfont.css' />
<link rel='stylesheet' type="text/css" href='/css/style.css' />
<link rel='stylesheet' type="text/css" href='/css/style-switcher.css' />
<link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:700,400,300,100|Montserrat:400,700' />

<link rel='stylesheet' type="text/css" href='/css/colors/blue.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/green.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/orange.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/red.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/orangelight.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/pinkish.css' />
<link rel='stylesheet' type="text/css" href='/css/colors/seagul.css' />
<link rel='stylesheet' type="text/css" href='/css/base-light.css' />
<link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' />


<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
