<!-- Item 1 -->
<% allServices.forEach(function(item) { %>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding: 10px">
  <div class="services-box leftReveal" data-sr-id="13" >
    <span class="pe-7s-airplay services-icon"></span>
    <h3 class="service-name"><%= item.title %></h3>
    <p class="text-small"><%= item.summary %></p>
    <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item1-services">Info</button>
  </div>
</div><!-- /.column -->
  <!-- Item 1 Modal -->
<div class="modal fade" id="item1-services" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">Web Design</h4>
            </div>
            <div class="modal-body">
                Why do we need Digital Marketing ?

In present scenario, the term digital marketing allows you to market your product and
services on the internet using digital technologies. It is basically the marketing, advertising
and promotion of products and services of a brand through digital media to reach to your
audience. This is the reason due to which we need Digital Marketing today.
Digital marketing is a powerful tool to accelerate your business growth. It is more effective
tool than traditional marketing for your business to bring people to your website and
convert them to customers. It is a necessity for the big industries as it plays an important
role to optimize their company’s website for search engines. In this blog, we will describe
importance of digital marketing and why it is in great demand among various industries.
Some reasons why digital marketing is important
Following are some benefits of digital marketing due to which it is necessary for big
industries:
1. Brand building- It helps to develop your brand by promoting it on several platforms
because brand building is what every business is trying to accomplish. Your brand will earn
more reputation in the eyes of users as well as search engines.
2. Better revenues- It ensures great revenues along with better conversion rates. It provides
advantages to you and your business by opening the ways to bigger remote targeting
markets both locally as well as abroad.
3. Cost reduction- It helps companies to save promotional costs for their products and
services. Also, you can plan a successful online marketing strategy by considering your
budget that offers an inexpensive techniques in comparison to other advertising channels.
4. Save time- It provides real time results with in no time and gives you an opportunity to
see the number of visitors to your site and conversion rate within seconds.
5. Connect with mobile users- Mobile phones are the great source to reach billions of
people across the world and digital marketing is a great way to get in touch with them.
So those were some advantages, that describe the importance of digital marketing. Digital
marketing allows a truly personalized marketing and gives business of any size an access to
the mass market at affordable rates.
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%  }); %>
