<!-- Item 1 -->
<% allTeamPlayers.forEach(function(item) { %>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 topReveal" data-sr-id="34">
  <div class="team-member-box">
    <h3><%= item.name %></h3>
    <p class="mb20"><%= item.designation %></p>
    <div class="team-image-wrapper">
      <span class="team-image-hover">
        <span class="team-hover-content">
          <!-- Social -->
          <span><span class="ion-android-share-alt social-icon-title"></span></span>
                  <a href="#"><span class="ion-social-twitter social-icons-light-hover mr15"></span></a>
                  <a href="#"><span class="ion-social-facebook social-icons-light-hover mr15"></span></a>
                  <a href="#"><span class="ion-social-googleplus-outline social-icons-light-hover"></span></a>
        </span>
      </span>
      <img src="images\team\<%= item.pic %>" alt="Team" class="img-responsive img-circle team-member-img">
    </div>
  </div>
</div><!-- /.column -->
<%  }); %>
